{{ partial "header.html" . }}

<div class="post">
    <div class="post_header">
      <h2><a href="{{ .Permalink }}" title="[Permalink] {{ .Title }}" >{{ .Title }}</a></h2>
        <div class="post_date">{{ .Date.Format "Monday January 2, 2006" }}</div>
    </div>
    <div class="post_content">
    {{ .Content }}
    </div>
</div>

<div class="paginator">
    {{ if .Prev }}
    <a href="{{ .Prev.Permalink }}" title="{{ .Prev.Title }}">&larr; Previous Post</a>
    {{ end }}
    {{ if .Prev }}
      &mdash;
    {{ end }}
    {{ if .Next }}
      <a href="{{ .Next.Permalink }}" title="{{ .Next.Title }}">Next Post &rarr;</a>
    {{ end }}
</div>

<div class="clear_both"></div>

{{ partial "footer.html" . }}
