{{ partial "header.html" . }}

<div id="content">
  <div class="post">
    <div class="post-header">
      <h2><a href="{{ .Permalink }}" title="[Permalink] {{ .Title }}" >{{ .Title }}</a></h2>
      <div class="post-date">{{ .Date.Format "2 January 2006" }}</div>
    </div>
    <div class="post-content">
    {{ .Content }}
    </div>
  </div>
</div>

<div id="paginator">
  {{ if .Prev }}
    <a href="{{ .Prev.Permalink }}" title="{{ .Prev.Title }}">&larr; Previous Post</a>
    &mdash;
  {{ end }}
  <a href="/post">Post List</a>
  {{ if .Next }}
    &mdash;
    <a href="{{ .Next.Permalink }}" title="{{ .Next.Title }}">Next Post &rarr;</a>
  {{ end }}
</div>

{{ partial "footer.html" . }}
