body {
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#container a { 
  color: black;
}

#header {
  flex-grow: 1;
  width: 20%;
}

#header > h1 {
  margin-bottom: 0;
}

.site-title a {
  font-size: 0.6em;
  text-decoration: none;
}

#header nav > a {
  /* Make the links in the header be vertically stacked. */
  display: block;
  text-decoration: none;
  margin-left: 0.5em;
}

#content {
  flex-grow: 1;
  width: 80%;
}

/* Responsive layout - when the screen is less than 600px wide, make the three
 * columns stack on top of each other instead of next to each other
 */
@media (max-width: 600px) {
  #header {
    width: 100%;
  }
  #content {
    width: 100%;
  }
  #header nav > a {
    /* Make the links in the header be horizontally stacked. */
    display: inline;
    margin-left: 0;
    margin-right: 0.2em;
  }
}

#paginator {
  display: block;
  width: 100%;
  text-align: center;
}

#footer {
  width: 100%;
  text-align: center;
}

#posts {
  justify-content: center;
}

article { 
  width: 582px;

  font-size: 16px;
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}

article a {
  color: black;
}
article a:visited { 
  color: black;
}
article a:hover { 
  color: black;
} 

article p {
  line-height: 1.4;*/
}

article figure {
  /* Align left edge of image to left edge of text. */
  margin: 0;
}

.post-header {
  margin-bottom: 1em;
}

.post-header time {
  color: #666666;
}

.post-header a {
  color: black;
  text-decoration: none;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.post-header h1 {
  /* Squish date to just below the post title. */
  margin-bottom: 0;
}

.post-content h2 {
  margin: 0;
}

.post-content p {
  margin-top: 0;
}

#archive {
  width: 582px;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

#archive > li {
  list-style-type: none;
}

#archive > li > time {
  float: right;
}

#credit {
  /* Make the copyright and license notice smaller and lighter. */
  color: #666666;
  font-size: 0.8em;
  margin-top: 2em;
}
