#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#container > div {
  flex-grow: 1;
  flex-basis: 100%;
}

#posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#content .post { 
  width: 582px;
  line-height: 1.4;
}

.post figure {
  /* Align left edge of image to left edge of text. */
  margin: 0;
}

.post h2 {
  /* Squish date to just below the post title. */
  margin-bottom: 0;
}

#footer {
  display: flex;
  justify-content: center;
}

#paginator {
  text-align: center;
}

#credit {
  /* Make the copyright and license notice smaller and lighter. */
  color: #666666;
  font-size: 0.8em;
}
