
body {
    margin: 0;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.85em;
    padding-top: 30px;
}

a { color: black; }
    a:visited { color: black; }
    a:hover   { color: black; } 

div#site_title {
    color: white;
    text-decoration: none;
}

#sidebar {
    border-left: 1px dotted #CCCCCC;
    padding: 0 0 10px 20px;
}

.post {
    margin-bottom: 25px;
}

.post_header {
    margin-bottom: 8px;
}

.post_header h2 {
    margin-bottom: 0;
}

.post_header a {
    color: black;
    text-decoration: none;
    text-transform: lowercase; 
    font-size: 95%;
}

.post_date {
    font-size: 0.85em; 
    color: #808080;
}

.post_content a, .archive a, div#about a {
    border-bottom: 1px dotted #888888;
    text-decoration: none;
}

.post_content a:hover, .archive a:hover, div#about a:hover {
    border-bottom: 1px dashed #888888;
    text-decoration: none;
    
}

.post_content h3 {
    text-transform: lowercase;
}

.post_content .img_link {
    margin-left: 50px;
}

.post_content .img_link, .post_content .img_link:hover  {
    border-bottom: none;
}

blockquote {
    border-left: 5px solid #CCCCCC;
    margin-left: 1.5em;
    padding-left: 5px;
}

.post_image {
    border: 1px solid black;
    margin: 1em;
}

.footnotes hr {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px dashed #CCCCCC;
    height: 4px;
    border-right: none;
    border-left: none;
}

.footnotes p {
    display: inline;
}

.post_permalink {
    text-align: right;
}

div#sidebar {
    padding-top: 1em;
}

div#sidebar ul {
    margin: 0;
    padding: 0;
}

div#sidebar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#sitenav li {
    font-size: 95%;
    padding-left: 3px;
    margin: 0;
}

div#sitenav a {
    color: #000000;
    text-decoration: none;
}

div#blogroll h4 {
    font-size: 95%;
    margin: 15px 0 2px;
    color: #CCCCCC;
}

div#blogroll a { 
    color: #000000;
    text-decoration: none;
}

div#blogroll li {
    font-size: 95%;
    padding-left: 3px;
    margin: 0;
}

#footer {
    clear: both;
}

.credit {
    color: #666666;
    font-size: 0.8em;
    padding: 50px 0 0;
    clear: both;
}

#mepic {
    float: right;
    border: 1px solid black;
    margin-right: 10em;
}

div.gsc-control-cse {
    padding: 0 !important; 
}

input.gsc-input {
    width: 97% !important;
}

ul.archive {
    margin: 0;
    padding: 0;
}

ul.archive li {
    list-style-type: none;
}

ul.archive span.date {
}

span.date span.year {
    width: 3em; 
    float: left;
}

span.date span.month {
    width: 2.5em; 
    float: left;
}

span.date span.day {
    width: 2.5em; 
    float: left;
}

ul.archive a {
    text-transform: lowercase;
}
