body {
  /* Get the content to be flush with the left hand side of the screen.
   * Sub-divs will handle the margin. */
  margin: 0px;
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

#container {
  display: grid;
  grid-template-columns: 1fr min(75ch, 100%) 1fr;
}

#container>* {
  /* Place the content in the middle column. */
  grid-column: 2;
}

.full-bleed {
  /* Make the fullbleed content span across the entire 
   * width of the page. 
   *
   * This class only works in direct descendants of #container. :-(
   * */
  width: 100%;
  grid-column: 1 / -1;
}

#container a {
  /* Make links less distracting from the text body. */
  color: black;
}

#header {
  /* Place the header in the left-hand column. */
  grid-column: 1;

  /* Float the header. */
  position: fixed;
  top: 0;
}

#header>* {
  /* Restore the margin that we took away from the body, above. This
   * allows the header line to be flush with the page edge. */
  margin-left: 8px;
}

#header>h1 {
  margin-bottom: 0;
}

.site-title a {
  font-size: 0.6em;
  text-decoration: none;
}

#header nav>a {
  /* Make the links in the header be vertically stacked. */
  display: block;
  text-decoration: none;
  margin-left: 0.5em;
}

#content {
  /* Restore the margin that we took away from the body, above. This
   * allows the header line to be flush with the page edge. */
  margin-left: 8px;
  margin-right: 8px;
}

/* Responsive layout - when the screen is less than 730px wide, make the
 * columns stack on top of each other instead of next to each other
 *
 * I could probably do a better job of figuring out when exactly do do this with better CSS, but I'm a noob, so here we are.
 * 710px: width of div#content plus some padding
 * 113px: width of the .site-title plus some padding
 */
@media (max-width: calc(710px + 113px)) {
  #container {
    /* Use a single grid column. */
    grid-template-columns: 1fr;
  }

  #header {
    /* Make it fixed at the top of the screen. */
    background-color: white;
    width: 100%;

    /* Distinguish the header from the body text. */
    border-bottom: 3px solid black;

    /* Add some shadow at the bottom. */
    box-shadow: 0 0 transparent, 0 0 transparent, 1px 3px 6px #00000026;
  }

  #header>h1 {
    /* Move the header closer to the top. */
    margin-top: 0px;
    /* Place the title to the left of the nav bar. */
    float: left;
  }

  #header>nav {
    /* Position the links to be inline with the title. */
    padding: 0.8em 0 0 0.5em;
    margin-left: 9em;
  }

  #header nav>a {
    /* Make the links in the header be horizontally stacked. */
    display: inline;
    margin-left: 0;
    margin-right: 2em;
  }

  #content {
    margin-top: 40px;
  }
}

#paginator {
  width: 582px;
  text-align: center;
}

#footer {
  width: 100%;
  text-align: center;
}

article {
  font-size: 19px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  margin: 0 auto;
  padding: 0 20px;
}

article a {
  color: black;
}

article a:visited {
  color: black;
}

article a:hover {
  color: black;
}

article p {
  line-height: 1.4;
}

article figure {
  /* Align left edge of image to left edge of text. */
  margin: 0;
}

article blockquote {
  /* Add a border on the left and move the text away from it a bit. */
  border-left: 5px solid lightgray;
  padding-left: 5px;
}

article header {
  margin-bottom: 1em;
}

article header time {
  color: #666666;
}

article header a {
  color: black;
  text-decoration: none;
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

article header h1 {
  /* Squish date to just below the post title. */
  margin-bottom: 0;
}

article ol {
  /* Add some margin equivalent to article p to separate paragraphs from the
   * list. */
  margin-bottom: 1em;
}

.post-content h2 {
  margin: 0;
}

.post-content p {
  /* Increased from default for better vertical rhythm */
  line-height: 1.7;
}

article img {
  width: 100%;
  margin-top: 5px;
  /* Softens the sharp corners */
  border-radius: 4px;
  /* Adds a subtle "pop" */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

article figcaption {
  /* 18px is the same as p.margin-bottom. */
  margin: 0px 0px 18px 0px;
  font-style: italic;
  text-align: center;
  font-family: -apple-system, sans-serif;
  font-size: 14px;
  color: #666;
  /* margin-top: 10px; */
  font-style: italic;
}

article table {
  border-collapse: collapse;
  margin-block-end: 18px;
}

article td,
article th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
  white-space: nowrap;
}

#archive {
  width: 582px;
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

#archive>li {
  list-style-type: none;
}

#archive>li>time {
  float: right;
}

#credit {
  /* Make the copyright and license notice smaller and lighter. */
  color: #666666;
  font-size: 0.8em;
  margin-top: 2em;
}