<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ .Title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='/images/layout/favicon.ico' rel='shortcut icon' type='image/ico' />
    <link rel="alternate" type="application/atom+xml" title="ericgar.com - Atom" href="/feed/atom/" />

    {{ with resources.Get "css/style.css" | minify }}
    <style>{{ .Content | safeCSS }}</style>
    {{ end }}

    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1 class="site-title"><a href="/">Eric Garrido</a></h1>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/post">Posts</a>
          <a href="/index.xml">Feed</a>
        </nav>
      </div>
