<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='/images/layout/favicon.ico' rel='shortcut icon' type='image/ico' />
    <link rel="alternate" type="application/atom+xml" title="ericgar.com - Atom" href="/feed/atom/" />

    {{ with resources.Get "css/style.css" | minify }}
    <style>{{ .Content | safeCSS }}</style>
    {{ end }}

    <script defer src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <meta name="viewport" content="width=device-width" />
  
    {{ if eq .Type "page"  }}
      {{ partialCached "math.html" . }}
    {{ else if .Param "math" }}
      {{ partialCached "math.html" . }}
    {{ end }}
  </head>

  <body>
    <main id="container">
      <div id="header">
        <h1 class="site-title"><a href="/">Eric Garrido</a></h1>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/post">Posts</a>
          <a href="/index.xml">Feed</a>
        </nav>
      </div>
