<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ .Title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='/images/layout/favicon.ico' rel='shortcut icon' type='image/ico' />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link rel="alternate" type="application/atom+xml" title="ericgar.com - Atom" href="/feed/atom/" />
    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1 class="site_title"><a href="/">eric garrido</a></h4>
        <nav>
          <a href="/">home</a>
          <a href="/about">about</a>
          <a href="/post">posts</a>
          <a href="/index.xml">rss feed</a>
        </nav>
      </div>
