{{ partial "header.html" . }}

<div id="content">
  <div id="posts">
    {{ range .Paginator.Pages }}
      {{ partial "post-body.html" . }}
    {{ end }}
  </div>

  <nav id="paginator">
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}">&larr; Older Posts</a>
      &mdash;
    {{ end }}
    <a href="/post">Post List</a>
    {{ if .Paginator.HasPrev }}
      &mdash;
      <a href="{{ .Paginator.Prev.URL }}">Newer Posts &rarr;</a>
    {{ end }}
  </nav>
</div>

{{ partial "footer.html" . }}
