{{ partial "header.html" . }}

<div id='posts'>
  {{ range .Paginator.Pages }}
    <div class="post">
      <div class="post_header">
          <h2><a href="{{ .Permalink }}" title="[Permalink] {{ .Title }}" >{{ .Title }}</a></h2>
          <div class="post_date">{{ .Date.Format "Monday January 2, 2006" }}</div>
      </div>
      <div class="post_content">
      {{ .Content }}
      </div>
    </div>
  {{ end }}
</div>


<div class="paginator">
  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}">&larr; Older Post</a>
  {{ end }}
  {{ if .Paginator.HasPrev }}
      &mdash;
  {{ end }}
  <a href="/post">All Posts</a>
  {{ if .Paginator.HasNext }}
      &mdash;
  {{ end }}
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}">Newer Post &rarr;</a>
  {{ end }}
</div>

{{ partial "footer.html" . }}
